
@{

    List<ControleVisita.Models.VisitaHistoricoModel> visitahistorico = new List<ControleVisita.Models.VisitaHistoricoModel>();

    if (ViewData["HISTORICOVISITA"] != null)
    {
        visitahistorico = ViewData["HISTORICOVISITA"] as List<ControleVisita.Models.VisitaHistoricoModel>;
    }

}
<style>
    /*
    *
    * ==========================================
    * CUSTOM UTIL CLASSES
    * ==========================================
    *
    */

    /* Timeline holder */
    ul.timeline {
        list-style-type: none;
        position: relative;
        padding-left: 1.5rem;
    }

        /* Timeline vertical line */
        ul.timeline:before {
            content: ' ';
            background: #fff;
            display: inline-block;
            position: absolute;
            left: 16px;
            width: 4px;
            height: 100%;
            z-index: 400;
            border-radius: 1rem;
        }

    li.timeline-item {
        margin: 20px 0;
    }

    /* Timeline item arrow */
    .timeline-arrow {
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid #fff;
        border-bottom: 0.5rem solid transparent;
        display: block;
        position: absolute;
        left: 2rem;
    }

    /* Timeline item circle marker */
    li.timeline-item::before {
        content: ' ';
        background: #ddd;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        left: 11px;
        width: 14px;
        height: 14px;
        z-index: 400;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="py-5">

    <div class="card">
        <div class="card-body">


            <div class="row">
                <div class="col-lg-12">

                    <!-- Timeline -->
                    <ul class="timeline">

                        @foreach (var item in visitahistorico)
                        {
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <h2 class="h5 mb-0">@item.DataVisita.Value.ToString("dd-MM-yyyy")  @(string.IsNullOrEmpty(item.MotivoNaoVenda)? "Venda Realizada" : item.MotivoNaoVenda) <i class=" @(item.Percepcao =="Quente"?"text-danger" : item.Percepcao == "Morno"? "text-warning" : "text-info") fas fa-thermometer-full"></i> </h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>Reagendamento: @(item.Agendamento.DataAgendamento == null ? "": item.Agendamento.DataAgendamento.Value.ToString("dd MMMM, yyyy"))</span>
                                <p class="text-small mt-2 font-weight-light">@item.BemViewModel.BemModeloDisplayMember Valor: @item.ValorBemAux;
                                <p class="text-small mt-2 font-weight-light">@item.HistoricoVisita</p>
                                <p class="text-muted">por: @item.Usuario</p>
                            </li>
                        }


                    </ul><!-- End -->

                </div>
            </div>
        </div>
    </div>
</div>