@model ControleVisita.Models.PessoaModel

<hr />

@using (Html.BeginForm("Cadastrar", "Clientes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-row">

        <div class="form-group col-md-6">

            @Html.LabelFor(model => model.TipoPessoa)
            @(Html.DevExtreme().SelectBoxFor(a=>a.TipoPessoa).ID("cbxtipopessoa")
                    .DataSource(ds=>ds.WebApi().RouteName("selectbox")
                        .LoadAction("GetTipoPessoa")
                        .LoadMode(DataSourceLoadMode.Raw)
                    ).DisplayExpr("Value")
                    .ValueExpr("Key")
                    .Placeholder("Selecione")                   

                    )

        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(a => a.Documento)
            @Html.TextBoxFor(a => a.Documento, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(a => a.NomeCompleto)
            @Html.TextBoxFor(a => a.NomeCompleto, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(a => a.Email)
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(a => a.DataNascimento)
            @Html.DevExtreme().DateBoxFor(a => a.DataNascimento)
        </div>

    </div>


    <div class="form-row">
        <div class="form-group col-2">
            @Html.LabelFor(a => a.DDDFone)
            @Html.TextBoxFor(a => a.DDDFone, new { @class = "form-control" })
        </div>

        <div class="form-group col-4">
            @Html.LabelFor(a => a.Telefone)
            @Html.TextBoxFor(a => a.Telefone, new { @class = "form-control" })

        </div>


        <div class="form-group col-2">
            @Html.LabelFor(a => a.DddCelular)
            @Html.TextBoxFor(a => a.DddCelular, new { @class = "form-control" })
        </div>
        <div class="form-group col-4">
            @Html.LabelFor(a => a.Celular)
            @Html.TextBoxFor(a => a.Celular, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-2">
            @Html.LabelFor(a => a.Endereco.Cep)
            @Html.DevExtreme().TextBoxFor(a => a.Endereco.Cep)
        </div>

        <div class="form-group col-md-3">

            @Html.LabelFor(a => a.Endereco.UF)

            @(Html.DevExtreme().SelectBoxFor(a => a.Endereco.UF).InputAttr("required", true)
            .DataSource(ds => ds.WebApi()
                .Controller("UFApi")
                .LoadAction("GetUF")
                .LoadMode(DataSourceLoadMode.Raw)
                .Key("ID")

            )
            .DisplayExpr("NOME")
            .ValueExpr("NOME")

            .SearchEnabled(true)
            .OnValueChanged("Cidade")
            .ID("dxUF")

            )
        </div>


        <div class="form-group col-md-3">

            @Html.LabelFor(a => a.Endereco.Cidade)

            @(Html.DevExtreme().SelectBoxFor(a => a.Endereco.Cidade).InputAttr("required", true)
            .DataSourceOptions(op=> op.Paginate(true).PageSize(15))
                .DataSource(ds => ds.WebApi()
                    .Controller("CidadeApi")
                    .LoadAction("GetCidade")
                    .Key("ID")
                    .LoadMode(DataSourceLoadMode.Raw)
                )

                .DisplayExpr("NOME")
                .ValueExpr("NOME")
                .SearchEnabled(true)
                .ID("dxCidade")
            )
        </div>

        <div class="form-group  col-md-4">
            @Html.LabelFor(a => a.Endereco.Bairro)
            @Html.DevExtreme().TextBoxFor(a => a.Endereco.Bairro)
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-12">
            @Html.LabelFor(a => a.Endereco.Logradouro)
            @Html.TextBoxFor(a => a.Endereco.Logradouro, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            @Html.LabelFor(a => a.Informacao)
            @Html.TextAreaFor(a => a.Informacao, new { @class = "form-control", @placeholder = "Informações do cliente" })
        </div>
    </div>


    <button class="btn btn-primary" id="btnSalvar" name="salvar">Salvar</button>


    @Html.ActionLink("Cancelar", "Index", "Home")



}

<script>

    $(document).ready(function () {


        $('.money').mask('000.000.000.000.000,00', { reverse: true });

        $("#TipoPessoa").change(function () {

            console.log('...');

        });
    });

    function Cidade(e) {

        $("#Endereco_Cidade").val("");

        $("#dxCidade").dxSelectBox("instance").getDataSource().filter(["ESTADO", "=", e.value]);
        $("#dxCidade").dxSelectBox("instance").getDataSource().reload();
    };



</script>
