@using ControleVisita.Models.IdentityExtensions
@model ControleVisita.Models.PessoaModel
@{
    ViewBag.Title = "Cadastrar";
}

<style>
    .upper {
        text-transform: uppercase;
    }

    .lower {
        text-transform: lowercase;
    }
    .input-validation-error {
        border: solid 1px #ff0000;
    }
</style>

<h4>Adicionar Cliente</h4>
<hr />

@using (Html.BeginForm("Cadastrar", "Clientes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.HiddenFor(a => a.IdPessoa);

    <div class="form-row">

        <div class="form-group col-md-6">

            @Html.LabelFor(model => model.TipoPessoa)*
            @Html.DropDownListFor(model => model.TipoPessoa, new SelectList(ViewBag.ListTipoPessoa, "Value", "Text", "1"), new { @class = "form-control" })

        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(a => a.Documento)
            @Html.TextBoxFor(a => a.Documento, new { @class = "form-control cpf" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            @Html.LabelFor(a => a.NomeCompleto)*
            @Html.TextBoxFor(a => a.NomeCompleto, new { @class = "form-control upper", minlength = 10, @autocomplete = "off" })
            @Html.ValidationMessageFor(a => a.NomeCompleto)
            <div id="clientExist" style="color:red"></div>
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(a => a.Atividade)


            @(Html.DevExtreme().LookupFor(a=>a.Atividade)
                .DataSource(ds=>ds.WebApi()
                    .RouteName("selectbox")
                    .LoadAction("GetAtividades")
                    .LoadMode(DataSourceLoadMode.Raw).Key("Id")

                )
              //.DataSourceOptions(o => o.Group("Grupo"))
                .DisplayExpr("Profissao")
                .ValueExpr("Profissao")
                .SearchMode(DropDownSearchMode.Contains)
                .SearchEnabled(true)
                .InputAttr(new {@class="form-control" })
                )
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(a => a.Email)
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control lower" })
        </div>

    </div>


    <div class="form-row">
        <div class="form-group col-md-1">
            @Html.LabelFor(a => a.DDDFone)
            @Html.TextBoxFor(a => a.DDDFone, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-3">

            @Html.LabelFor(a => a.Telefone)
            @Html.TextBoxFor(a => a.Telefone, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-1">
            @Html.LabelFor(a => a.DddCelular)
            @Html.TextBoxFor(a => a.DddCelular, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-3">

            @Html.LabelFor(a => a.Celular)
            @Html.TextBoxFor(a => a.Celular, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(a => a.WhatsApp)
            @Html.TextBoxFor(a => a.WhatsApp, new { @class = "form-control" })
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-2">
            @Html.LabelFor(a => a.Endereco.Cep)
            @Html.DevExtreme().TextBoxFor(a => a.Endereco.Cep)
        </div>

        <div class="form-group col-md-3">

            @Html.LabelFor(a => a.Endereco.UF)*

            @(Html.DevExtreme().SelectBoxFor(a => a.Endereco.UF).InputAttr("required", true)
            .DataSource(ds => ds.WebApi()
                .Controller("UFApi")
                .LoadAction("GetUF")
                .LoadMode(DataSourceLoadMode.Raw)
                .Key("ID")

            )
            .DisplayExpr("NOME")
            .ValueExpr("NOME")

            .SearchEnabled(true)
            .OnValueChanged("Cidade")
            .ID("dxUF")

            )
        </div>


        <div class="form-group col-md-3">

            @Html.LabelFor(a => a.Endereco.Cidade)*

            @(Html.DevExtreme().SelectBoxFor(a => a.Endereco.Cidade).InputAttr("required", true)
            .DataSourceOptions(op=> op.Paginate(true).PageSize(15))
                .DataSource(ds => ds.WebApi()
                    .Controller("CidadeApi")
                    .LoadAction("GetCidade")
                    .Key("ID")
                    .LoadMode(DataSourceLoadMode.Raw)
                )

                .DisplayExpr("NOME")
                .ValueExpr("NOME")
                .SearchEnabled(true)
                .ID("dxCidade")
            )
        </div>

        <div class="form-group  col-md-4">
            @Html.LabelFor(a => a.Endereco.Bairro)
            @Html.DevExtreme().TextBoxFor(a => a.Endereco.Bairro)
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-12">
            @Html.LabelFor(a => a.Endereco.Logradouro)
            @Html.TextBoxFor(a => a.Endereco.Logradouro, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            @Html.LabelFor(a => a.Informacao)
            @Html.TextAreaFor(a => a.Informacao, new { @class = "form-control", @placeholder = "Informações adicionais sobre o cliente" })
        </div>
    </div>


    <button class="btn btn-primary" id="btnSalvar" name="salvar">Salvar</button>


    @Html.ActionLink("Cancelar", "Index", "Home")

}

<script>

    $(document).ready(function () {


        $('.money').mask('000.000.000.000.000,00', { reverse: true });

        $('#Celular').mask('00000-0000');
        $('#DddCelular').mask('00');

        $('#WhatsApp').mask('+55 (00) 00000-0000');
        $('#Endereco_Cep').mask('00000-000');

        $('#Telefone').mask("0000-00009");
        $('#DDDFone').mask("00");





    });

    $("#NomeCompleto").blur(function () {

        var nome = $("#NomeCompleto").val();
        var empresa = '@User.Identity.GetEmpresa()';

        $.get("../api/clientes?nomerazao="+nome + "&empresa=" + empresa, function (data) {
            $("#clientExist").html(data);
        });

    });



    var options = {
        onKeyPress: function (cpf, ev, el, op) {
            var masks = ['000.000.000-000', '00.000.000/0000-00'];
            $('.cpf').mask((cpf.length > 14) ? masks[1] : masks[0], op);
        }
    }
    $('.cpf').length > 11 ? $('.cpf').mask('00.000.000/0000-00', options) : $('.cpf').mask('000.000.000-00#', options);

    function Cidade(e) {

        $("#Endereco_Cidade").val("");

        $("#dxCidade").dxSelectBox("instance").getDataSource().filter(["ESTADO", "=", e.value]);
        $("#dxCidade").dxSelectBox("instance").getDataSource().reload();
    }



</script>

